*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.header{
    margin-bottom: 2rem;
}

.header h2{
    font-size: 1.7rem;
    margin-bottom: 2rem;
    margin-bottom: 10px;
}

.header h3{
    margin-top: 10px;
    text-align: center;
    font-size: 1.4rem;
}

.grey-col{
    color: grey;
}

.header-content{
    text-align: center;
    margin-bottom: 2rem;
}

.header-content h3{
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.size-small{
    font-size: 1.3rem;
}

h5{
    font-size: 1rem;
    margin-bottom: 18px;
}

.center{
    text-align: center;
    margin-bottom: 20px;
}

.mar-left{
    margin-left: 13px;
    font-size: 0.9rem;
}